@font-face{
    font-family: 'lmao';
    src: url(fonts/Merriweather-Bold.ttf);
}
@font-face{
    font-family: 'lol';
    src: url(fonts/Merriweather-Light.ttf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{ 
    background-color:rgb(32, 123, 207) ;
    display: flex ;
    justify-content: space-around ;
    border-radius: 2px;
    flex-wrap: wrap ;
}
.nav-li{
    display:inline-block;
    padding-left: 15px ;
    margin-left: 10px ;
}
.nav-c ul li a img{
    height: 17px;
    width: 17px;
    margin-top: 15px;
    margin-left: 0;
} 
.nav-para{
    padding-top:10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.button{
    font-size: 11px ;
    padding-top: 13px ;
    padding-bottom: 13px ;
    padding-right: 19px ;
}


    /* nav droupdown */

.hd-img{
    height: 50px;
}
/* .NAV-bar{
    padding-right: 50px !important; 
 }  */



    /* Introduction */
.intro{
    text-align: center;
    min-height: 550px;
    width: 100%;

}
.intro-para{
    color: grey;
    text-align: justify;
}



  /* Monthly-stats */

/* .monthly-stats-main{
    width: 100%;
    height: 350px;
    background-color: rgb(0, 89, 253);
    display:grid;
    text-align: center;
} */
/* .monthly-stats-child{
    background-color: rgb(0, 89, 253);
    height:20px;
    width: 25%;  
} */
.monthly-stats-child img{
    width: 50px;
    padding-top:70px;
    margin-left: 60px;
         
}
.monthly-stats-child h2{
    color: rgb(255, 255, 255);
    font-family: lol;
    font-size: 3rem;
    font-weight: 4px;
    padding: -100px;
}
.monthly-stats-child p{
    font-family: lol;
    padding-bottom: 100px;
    color: ivory;
}
.ms-h2{
    color: lawngreen !important;
    font-size: 2000px !important;
}
#ms-img{
    height: 10px !important;
    background-color: lightpink;
}





        /*what we are doing*/

.what-main{
    padding-top:30px;
    text-align: center;
    font-family: lol;
    
}
.what-main h1{
    font-size: 40px;
}
.what-main img{
    height: 50px;
    width: 50px;
    padding-bottom: 100px;
}

        /*Color Class  */
.blue{
    color: rgb(32, 123, 207) ;
    font-family: lol;
}
.green{
    color: rgb(170, 255, 0);
    font-family: lol;
    font-weight: 700;
}

     /* Image-Gallery */
.image-gallery{
text-align: center;
}
/* .image-hedding{

}
.image-logo{

}
.images{
    display: flex;
    width: 100%;
    justify-content:space-around;
} */
.images img{
    width: 50%;
}
.kiki{
    height: 100px;
}
         /* boxes */

.boxes-main-dv{
 background-color: white;
    min-height: 500px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.boxes { 
    background-color: rgb(245, 245, 245);
    height:200px;
    width: 350px;
    margin: 10px;
    display: inline-block;
    box-shadow: 10px 10px 100px rgb(155, 163, 160);   
}
.boxes>img{
    width: 70px;
    padding-top:40px; 
}
.boxes>h6{
    color: rgb(32, 123, 207);
    font-family:lol;
    font-size: 17px;
    margin:15px;
    font-weight: 600;
}
        /*Back to top button */
.back-to-top{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 2%;
    bottom: 10px;
    border-radius: 5px solid green;
}
   /* Mission and upcoming porjects
.m-and-u{   
    display: flex;
}
.mission-boxes{
    display: flex;
}
.m-h1{

}
.m-box{
    width: 30px;
    height: 30px;
    margin: 30px;
    border: violet;
    background-color: tomato;
} */

        /* M and P */

.r-box{
    width: 100px;
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(246, 245, 245);
}
.mp-image{
    position: absolute;
    padding-top: 20px;
}
.mp-h5{
    padding-top: 25px;
    padding-left: 80px;
}
    /* U   &   P */
    .xyz{
       width: 100%;
       height: 200px;
       background-color: rgb(246, 245, 245);
       overflow: scroll;
    }

      /* Footer */
.list{
    color: white;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.adress-li{
    padding: 5px;
    list-style: none;
}
h2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5%;
    margin-top: 40px;
}
.footer-copyright{
    background-color:rgb(32, 123, 207) ;
    padding: 0.1px;
    border-radius: 2px;    
}
.footer-img{
    height: 30px;
    display: inline;
    border-radius: 10%;
    list-style-type:none ;
    overflow: hidden;
}
.copyright{
    margin-left: 10%;
    padding-top: 10px;
}
h2+ul li{
    display: inline-block;
}
.footer-ul{
display: inline;
list-style-type: none;

}
.hoja{
float: left;
padding: 20px;
}
.usefull{
padding-top: 20px;
}
.aagy-pichy{
    min-width: 500px;
    
}
